
@{
    ViewBag.Title = "Popup";
}


        <div class="container header-content" style="width: 500px"


            <div class="container body-content">
                @RenderBody()
                <button id="btnClose" type="button" class="close" data-dismiss="model" </button>



            </div>
        
        <div>

        </div>

        



</div>

