

@{
    ViewBag.Title = "AdminIndex";
}


<h2 class="center">Admin Tools</h2>

<div class="text-center">
    <div>
        <p><a href="/Inscriptions/AdminIndex" class="btn btn-primary btn-md">Inscriptions Database</a></p>
        <p><a href="/Translations/AdminIndex" class="btn btn-primary btn-md">Translations Database</a></p>
        <p><a href="/Users/AdminIndex" class="btn btn-primary btn-md">Users Database</a></p>
        <p><a href="/SiteUpdates/AdminIndex" class="btn btn-primary btn-md">Site Updates</a></p>
    </div>
</div>
