
@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml"; // Specify the path to your layout view
}

@{
    if (Session["UserID"] == null)
    {
        Response.Redirect("~/UserLogin/Index");
    }
}

<div class="card" style="width: 100%; margin: 0 auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 10px;">
    <h1 class="center">Dashboard</h1>
    <h4 class="center">Hello @Session["UserName"]!</h4>
    <div style="margin-top: auto; text-align: right;">
        <a href="@Url.Action("Details", "Users", new { id = Session["UserID"]})" class="link-primary">Account Information</a>
    </div>
</div>

<br />

<body>
    <div class="flex-container">
        <div class="card" style="width: 30%; margin: 0 auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 10px;">
            <!-- User Projects-->
            @{Html.RenderAction("Index", "UserProjects");}
        </div>
        <div class="card" style="width: 30%; margin: 0 auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 10px; ">
            <!-- Saved Inscriptions-->
            @{Html.RenderAction("UserInscriptionsView", "UserPortal", new { id = Session["UserID"] });}
        </div>
        <div class="card" style="width: 30%; margin: 0 auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 10px; ">
            <!-- Saved Translations-->
            @{Html.RenderAction("UserTranslationsView", "UserPortal", new { id = Session["UserID"] });}
        </div>
    </div>


</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
