@model Inscript_v5.Models.InscriptionsModel

@{
    ViewBag.Title = "InscriptionNotes";
}

<style>
    #formattedText {
        display: inline;
        margin: 0;
        padding: 0;
        border: none;
        font-family: Time New Roman;
        font-size: 12pt;
        line-height: 1.6;
        background-color: transparent;
    }
</style>

<table>
        <tr class="form-group">
            <th>
                <h6>
                    @Html.LabelFor(model => model.Notes, "Inscription Notes")
                </h6>
            </th>
        </tr>
        <tr>
            <td>
                <div class="col-md-10">
                    <pre id="formattedText" class="preformatted-text">@Html.Raw(Model.Notes)
                    </pre>
                </div>
            </td>
        </tr>
</table>
