@{
    ViewBag.Title = "About";
}

<style>
    #createUser-div {
        position: center;
        left: 40%;
        padding: 10px 10px;
    }

    .card-width {
        width: 500px; /* Adjust the width as needed */
        position: center;
    }
</style>

    <div class="card card-width" style="margin: 0 auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
        <h2 class="center">About</h2>
        <p class="center">Created by Austin Blackman</p>
        <p class="center">Capstone Project for Master of Science in Software Development (2024)</p>
    </div>
    
    <div class="card" style="width: 100%; margin: 15px auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 10px;">
        @{Html.RenderAction("SelectRecent", "SiteUpdates");}
    </div>
