@{
    ViewBag.Title = "Home Page";
}


    <div class="float-container">

            <div class="float-child-left">
                <div class="text-center">
                <h1 id="title">Digital Scribe</h1>
                <p class="lead">NW Semitic Inscription database</p>
                <p><a href="/Inscriptions" class="btn btn-primary btn-md">Database &raquo;</a></p>
                <p><a href="/UserLogin/Index" class="btn btn-primary btn-md">Login &raquo;</a></p>
                </div>
            </div>

        <div class="float-child-right">
            <div class="card">
                <table class="table">
                    <tr>
                        <th>
                            Recent Entries
                        </th>
                    </tr>
                    <tr>
                        @{Html.RenderAction("SelectRecent", "Inscriptions");}
                    </tr>
                    <tr>
                        <th>
                            Recent Updates
                        </th>
                    </tr>
                </table>
            </div>
        </div>

          
        </div>
