@{
    ViewBag.Title = "Home Page";
}

    <div class="float-container">

            <div class="float-child-left">
                <div class="text-center">
                    <h1 id="title">Digital Scribe</h1>
                    <p class="lead">NW Semitic Inscription Database</p>
                    @if (Session["UserID"] == null)
                    {
                        <p><a href="/UserLogin/Index" class="btn btn-primary btn-md">LOG IN &raquo;</a></p>
                        <p><a href="/Users/Create" class="btn btn-primary btn-md">Create Account &raquo;</a></p>
                    }
                    else
                    {
                        <p>@Html.ActionLink("Inscription Database", "Filter", "Inscriptions", new { area = "" }, new { @class = "btn btn-primary btn-md" })</p>
                        <p>@Html.ActionLink("User Dashboard", "Index", "UserPortal", new { area = "" }, new { @class = "btn btn-primary btn-md" })</p>
                    }

                </div>
            </div>

        <div class="float-child-right">
            <div class="card">
                <table class="table">
                    <tr>
                        <th>
                            Recent Inscription Entries
                        </th>
                    </tr>
                    <tr>
                        @{Html.RenderAction("SelectRecent", "Inscriptions");}
                    </tr>
                </table>
            </div>
            <br />
                    <div class="card">
                        <table class="table">
                            <tr>
                                <th>
                                    Site Updates
                                    <a style="font-size: medium" href="SiteUpdates/Index">>>></a>
                                </th>
                            </tr>
                            <tr>
                                @{Html.RenderAction("SelectRecent", "SiteUpdates");}
                            </tr>
                        </table>
                    </div>
          </div>

          
</div>
