@model List<Inscript_v5.Models.InscriptionTextModel>

@{
    ViewBag.Title = "Details";
}
<style>
    #table{
        width: 100%;
    }
</style>


    <table id="table">
        @foreach (var item in Model)
        {
            <tr class="form-group">
                <td width="5%" style="font-size: 60%">
                    @Html.DisplayFor(modelItem => item.LineNumber)
                </td>

                <td id="semiticText">
                    @Html.DisplayFor(modelItem => item.Text)
                </td>

                <td width="5%" style="font-size: 60%">
                    @Html.DisplayFor(modelItem => item.LineNumber)
                </td>
            </tr>
        }
    </table>

