@model Inscript_v5.Models.TranslationsModel

@{
    ViewBag.Title = "Details";
}

<style>
    #formattedText {
        display: inline;
        margin: 0;
        padding: 0;
        border: none;
        font-family: Time New Roman;
        font-size: 15pt;
        line-height: 1.6;
        background-color: transparent;
    }
</style>

<style>
    #formattedText {
        display: inline;
        margin: 0;
        padding: 0;
        border: none;
        font-family: Time New Roman;
        font-size: 12pt;
        line-height: 1.6;
        background-color: transparent;
        text-wrap: wrap
    }
</style>

<table>
    <tr class="form-group">
        <td>
            @{Html.RenderAction("Details", "TranslationText", new { id = Model.TranslationID });}
            <br />
        </td>
    </tr>
</table>

